<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
		<link href="/dist/css/main.css" rel="stylesheet" media="all" />
	</head>
	<body>
		<div class="icons-store">
			{% include icons.svg %}
		</div>

		<div class="layout">
			<div class="layout__sidebar">
				{% include sidebar.html %}
			</div>
			<div class="layout__content">