<div class="post">
	<div class="post__top">
		{% if isDetail %}
			<a href="/" class="post__back">
				<svg class="icon"><use xlink:href="#left" /></svg>
			</a>
			<span class="post__title">
				{{ postData.title }}
			</span>
		{% else %}
			<a href="{{ postData.url }}" class="post__title">
				{{ postData.title }}
			</a>
		{% endif %}

		<div class="post__info">
			<span class="post__date">
				{{ postData.date | date:"%B %-d, %Y" }}
			</span>

			<span class="post__tags">
				{% for tag in postData.tags %}
					<span class="tag post__tag">
						{{ tag }}
					</span>
				{% endfor %}
			</span>
		</div>

		{% unless isDetail %}
			<div class="post__intro">
				{{ postData.intro }}
			</div>
		{% endunless %}
	</div>

	{% if isDetail %}
		<div class="post__text">
			{{ content }}
		</div>

		<a href="/" class="post__link">
			&larr; Home
		</a>
	{% else %}
		<a href="{{ postData.url }}" class="post__link">
			Read more &rarr;
		</a>
	{% endif %}
</div>