<div class="profile">
	<div class="profile__wrapper js-perspective">
		<div class="profile__border js-perspective__move"></div>

		<div class="profile__layer"></div>
		<div class="profile__photo">
			<div class="profile__image"></div>
		</div>

		<div class="profile__inner">
			<div class="profile__name">
				Dmitry Belyaev
			</div>

			<a href="mailto:blv.dmitry@gmail.com" target="_blank" class="profile__email">
				blv.dmitry@gmail.com
			</a>

			<div class="profile__actions">
				<a href="https://vk.com/id2617665" target="_blank" class="profile__social profile__social_vkontakte">
					<svg class="icon"><use xlink:href="#vkontakte" /></svg>
				</a>
				<a href="https://www.instagram.com/banana.bobby/" target="_blank" class="profile__social profile__social_instagram">
					<svg class="icon"><use xlink:href="#instagram" /></svg>
				</a>
				<a href="https://www.facebook.com/profile.php?id=100005212922958" target="_blank" class="profile__social profile__social_facebook">
					<svg class="icon"><use xlink:href="#facebook" /></svg>
				</a>
				<a href="https://github.com/BananaBobby" target="_blank" class="profile__social profile__social_github">
					<svg class="icon"><use xlink:href="#github" /></svg>
				</a>
				<a href="https://dribbble.com/BananaBobby" target="_blank" class="profile__social profile__social_dribbble">
					<svg class="icon"><use xlink:href="#dribbble" /></svg>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="about-side">
	<p class="about-side__text">
		Hi there! I’m a passionate front-end developer based in Moscow, Russia and working @ <s>Mail.ru Group</s> SuperJob.
	</p>
	<p class="about-side__text">
		I love building clean and functional user interfaces and sometimes designing them as well.
	</p>

	<div class="about-side__bottom">
		<!--<a href="/about" class="about-side__link">-->
			<!--Read more-->
		<!--</a>-->

		<a href="/dist/docs/cv.pdf" target="_blank" class="about-side__link">
			My resume
		</a>
	</div>
</div>
