.about-side
	margin-top: 40px
	font-size: 14px
	line-height: 22px
	padding: 0 26px

	&__text
		margin-top: 25px

		&:first-child
			margin-top: 0

	&__bottom
		margin-top: 25px

	&__link
		display: inline-block
		margin-left: 25px

		&:first-child
			margin-left: 0