.post
	margin-bottom: 40px

	&__top
		position: relative

	&__back
		position: absolute
		color: #000
		left: -36px
		top: 0
		line-height: 38px
		transition: transform .15s ease-in-out, opacity .15s ease-in-out
		opacity: .3
		font-size: 24px

		&:after
			content: none

		&:hover
			transform: translateX(-8px)
			padding-right: 8px
			opacity: 1

	&__title
		font-size: 30px
		font-weight: 700
		color: $colors.black

	&__info
		margin-top: 16px

	&__tags
		display: inline-block

	&__tag
		margin-left: 10px

		&:first-child
			margin-left: 0

	&__date
		font-size: 14px
		color: rgba(#222, .5)
		display: inline-block
		margin-right: 20px

	&__intro
		font-size: 18px
		line-height: 30px
		margin-top: 20px
		font-weight: 300

	&__text
		padding-top: 30px
		font-size: 16px
		line-height: 26px
		font-weight: 300

		&:first-child
			padding-top: 0

		p
			margin: 30px 0 0

			&:first-child
				margin-top: 0

	&__link
		display: inline-block
		margin: 20px 0

		&:first-child
			margin-top: 0

		&:last-child
			margin-bottom: 0