.post
	margin-top: 40px

	&:first-child
		margin-top: 0

	&__title
		font-size: 30px
		font-weight: 700
		color: $colors.black

	&__info
		margin-top: 10px

	&__date
		font-size: 14px
		color: rgba(#222, .5)

	&__text
		margin-top: 10px
		font-size: 16px
		line-height: 26px
		font-weight: 300