.post
	margin-top: 40px

	&:first-child
		margin-top: 0

	&__top
		padding-bottom: 30px

	&__title
		font-size: 30px
		font-weight: 700
		color: $colors.black

	&__info
		margin-top: 16px

	&__tags
		display: inline-block

	&__tag
		margin-left: 10px

		&:first-child
			margin-left: 0

	&__date
		font-size: 14px
		color: rgba(#222, .5)
		display: inline-block
		margin-right: 20px

	&__intro
	&__text
		line-height: 26px
		font-weight: 300

	&__intro
		font-size: 18px
		margin-top: 20px

	&__text
		padding-top: 30px
		font-size: 16px
		border-top: 1px solid #f1f1f1

		p
			margin: 30px 0 0

			&:first-child
				margin-top: 0

	&__home
		display: inline-block
		margin: 20px 0

		&:first-child
			margin-top: 0

		&:last-child
			margin-bottom: 0